.full {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/blob.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item-container {
  background-color: #f7f8fa;
  border-radius: 10px;
  padding: 15px;
}

.small {
  font-size: 14px !important;
}
